<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a class="brand-logo center">To-Dos</a>
        <a href="/auth/logout" class="sidenav-trigger show-on-large"><i class="fas fa-power-off"></i></a>
        <a href="https://eu-gb.functions.appdomain.cloud/api/v1/web/180030037%40iitdh.ac.in_dev/default/google-homepage-redirect"><i class="fab fa-google"></i></a>
    </div>
</nav>